@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<p>
    Everyone deserves unforgettable journey. <br />
    Or just shortly escape from the city.<br />
    We are discovering more then a hundred <br />
    unique offers for you.You are able to <br />
    choose the best one ... or maybe more.
</p>
     
