@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    Triple Developmant<br />
    Sofia, SF 1000<br />
    <abbr title="Phone">P:</abbr>
    0888123456
</address>

<address>
    <strong>Developer:</strong>   <a href="mailto:Support@example.com">dimitar_R@example.com</a><br />
    <strong>Developer:</strong> <a href="mailto:Marketing@example.com">miroslav_S@example.com</a><br/>
    <strong>Developer:</strong> <a href="mailto:Marketing@example.com">emilian_G@example.com</a>
</address>